# Build Artifacts
bin/
obj/

# References & Dependencies
# Temporarily un-ignored for automated release build
# References/
# References/**/*.dll
# References/**/*.xml

# Visual Studio / IDE
.vs/
*.user
*.userprep
*.sln.docstates

# Local Config & Logs
Quantum/Quantum_Preferences.txt
Quantum/Quantum_HideGUI.txt
Quantum/Quantum_HideDonationButton.txt
Quantum/Quantum_DisableTelemetry.txt
*.log

# Unity/OS
Thumbs.db
.DS_Store